.navbar-container {
    width: 100%;
    height: 70px;
    background: var(--dark-red-secondary);
    z-index: 999;
}

.header {
    width: 100%;
}

.navbar {
    width: 100%;
    display: flex;
    font-size: 40px;
    color: var(--white);
}

.navbar__category-container {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.category-droopdown {
    width: 330px;
    height: 100vh;
    padding: 30px 40px;
    background: var(--dark-red-secondary);
    color: var(--white);
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 999;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

.category-item {
    margin-bottom: 30px;
}

.navbar__logo-container {
    width: calc(100% - 70px);
    height: 70px;
    display: flex;
    align-items: flex-end;
}

.logo-image {
    height: 59px;
}

@media (min-width:780px) {
    .navbar-container {
        width: 330px;
        height: 1087px;
    }

    .header {
        width: 290px;
        height: 110px;
        padding-left: 40px;
        padding-top: 39px;
    }

    .navbar {
        width: 290px;
    }
    
    .navbar__category-container {
        display: none;
    }

    .category-droopdown {
        height: calc(100% - 110px);
        display: block;
        position: inherit;
    }
}